
<form id="myFrom" enctype="multipart/form-data">
  <div class="container">
    <label for="nombre" class="">Nombre</label>
    <input type="text" class="form-control" name="nombre" id="nombre" >
    <br>
    <label for="descripcion">Descripción</label>
    <textarea name="descripcion"  cols="30" rows="4" class="form-control" id="descripcion"></textarea>
    <br>
    <label for="categoria" class="">Categoria</label>
    <br>
    <select class="form-control" name="categoria" id="categoria">
      <option value="" disabled selected>Seleccionar</option>
      <option value="museo">Museo</option>
      <option value="plaza">Plaza</option>
      <option value="institucion">Institución</option>
      <option value="parque">Parque</option>
      <option value="monumento">Monumento</option>
    </select>
    <h3>Datos de Dirección</h3>
    <br>
    <label for="descripcion">Direccion</label>
    <textarea name="direccion"  cols="30" rows="4" class="form-control" id="direccion"></textarea>
    <br>
    <label for="imagen" class="">Imagen</label>
    <input type="file" class="" name="imagen" id="imagen">
    <br>
    <hr>
    <button  class="btn btn-primary" id="btnLugares" type="button">Guardar</button>
  </div>
</form>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div id="msg"></div>
    </div>
  </div>
</div>


